*{
margin:0;
padding:0;
}
#b{
background:linear-gradient(#f1d626b3,rgba(240, 113, 202, 0.7), rgba(217, 37, 130, 0.7)) , url(i.webp);
background-size: cover;
background-position:center;
height:100vh;
background-repeat: repeat;
width: auto;
background-attachment: fixed;
}
.logo{         
width:80px;
position:absolute;
top:5%;
left: 20px;

}
.head{
text-align: center;
padding-top:180px;

}
.head h1{
font-size:90px;
font-family: 'PT Serif', serif;


}
.head p{
font-size:30px;
font-style:italic;
color:rgb(255, 255, 0);
}
.butto {
margin:30px auto 0;

}
.butto a{
width:150px;
text-decoration:none;
display: inline-block;
margin:0 10px;
padding:12px 0 ;
color:white;
border:1px solid rgb(238, 32, 104);

}
.a1 :hover{
color: rgb(61, 230, 18);
}
.a2 :hover{

color: rgb(61, 230, 18) ;
}
#sidenav ul{
display:flex;
position:absolute;
top:30px;
left:150px;

}
#sidenav  li{
margin:20px;
list-style-type:none;
border:1px groove white;
padding:8px;
display: inline-block;
cursor:pointer;
}
#sidenav :hover{
color:rgb(252, 5, 137);

}
#sidenav a{
    text-decoration: none;
    color:darkred;
}

#js {
    position: fixed;
    top:0vh;
    right: -180px;
    background-color: rgb(228, 13, 156);
    height:100vh;
    width: 180px;
    z-index:2;
    transition: 0.5s;
}
nav ul li{
    list-style-type:none;
    margin:40px 20px;
    padding:10px;
}
#js a{ text-decoration: none;
color:white;
}
#img{
    width:50px;
    height: 50px;
    background-color: #009688;
    text-align:center;
    position: fixed;
    right: 35px;
    top:10px;
border-radius: 3px;
z-index: 3;
cursor:pointer;
}



#feature{
    width:100%;
    padding:70px 0;


}
.title-text{
    text-align:center;
    padding-bottom:70px;
   
    
}
.title-text p{
    
    color:deeppink;
    margin:auto;
    font-size: 20px;
    font-weight:bold;
    display:inline-block;
    position:relative;
    z-index:1;
   
}
  /*  .title-text p::after{
        content:'';
        background: linear-gradient(rgb(224, 91, 113),#eb66e5f3);
        position:absolute;
        height: 40px;
        width:40px;
        top:-35;
        left:0;
        transform: rotate(10deg);
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
      
        
        
}*/
.hi{
width:80%;
margin:auto;
display:flex;
flex-wrap:wrap;
align-items: center;
text-align: center;

}
.h{
    flex-basis: 50%;
    margin:10px;

}
.i{
    flex-basis:50%;
    margin:auto;
}
.i img{
    width:70%;
    border-radius: 10px;
    height:250px;
    align-items: right;
    margin-right: -400px;
    margin-top: -100px;
}
.h h1{
    color:rgb(229, 12, 120);
    text-align:left;
    margin-bottom: 10px;
    padding: 1px;
}
.icon{
    text-align: left;
    margin-left: -100px;
    height:40px;
    
}
.icon img{
    height:80px;
}
.m{
margin-top:50px;
margin-bottom:0 ;
font-size:30px;
background-color: deeppink;
}
#services{
    
    background-color:rgb(243, 215, 243);
    width:100%;
    padding: 70px 0;
   
    
}
.service-box{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
}
.single-service{
    flex-basis: 50%;
    text-align: center;
  
    margin-bottom:20px;
}
.single-service img{
    height:200px;
    border-radius: 10px;
    border-color: rgb(36, 35, 35);
    border-style: groove;
    background:linear-gradient(rgb(247, 143, 209),#e445ddf3);

}
.overlay{
    width:100px;
    transition:1s;
    opacity:0;
    
    
}
/*--testimonial--*/
#test{
    width:100%;
    padding:70px 0;
    }
.row{width:80%;
    display:flex;
    margin:auto;
    justify-content: space-between;
align-items: flex-start;
flex-wrap:wrap;

}    
.col{flex-basis: 28%;
    padding:10px;
    margin-bottom:30px;
    border-radius:10px;
    cursor:pointer;
    box-shadow:1px 10px 20px 1px #eb66e5f3;
    transition:transform .5s;
}
.col p{
    font-size: 15px;
}
.name h3{
    color:rgb(103, 23, 183);
     text-align:center;
     font-style:italic;
}
.name small{
color:goldenrod;
}
.user img{
width:250px;

}
.col:hover{
transform:translate(7px);
}
#services1{

height:100vh;
margin:0px;
padding:0px;
background: linear-gradient(rgb(248, 130, 238),#9bb2fc);

}
.ser{
    text-align: center;
    margin:0px;
    background-color: black;
    height:40px;
    color:rgb(235, 190, 216);
    font-size:25px;
    font-style: italic;
}
.rate
{
  margin:10px;
  padding:20px;
display:flex;

}
.rate ol{
list-style-type: decimal;
list-style-position: inside;
}
.tag1{
padding-left:80px;
margin-left:80px;
}
.tag2{
    padding-left:80px;
    margin-left:80px;
    }
  .tag2 img{
height:70vh;
width:80vh;
    }
#form1{
margin-top:0px;
padding:10px;
height:120vh;




    }

    .f{
        text-align: center;
        padding:30px;
        font-size:25px;
        color:white;
        font-weight: bolder;
        font-style:italic;
        

    }
    #dis{
        display: flex;
        background-color:rgba(0,0,0,0.5);
      margin-left:200px;
      margin-right:200px;
      margin-top:1px;
      margin-bottom:30px;
      padding:20px;
      color:rgb(207, 93, 5);
      font-size:17px;
      
    }
    .o{
padding-left:60px;
        
    }
    .r{
        padding-left:60px;

    }
    #dis input{
        border-radius: 5px;
       height: 35px;
       width:200px;
    border-color: rgb(44, 16, 34);
    }
    #dis input:hover{
        border-color:rgb(223, 12, 12);
        background:linear-gradient( rgb(248, 250, 139),rgb(241, 156, 193));
    }
    #dis textarea{
        border-radius: 5px;
       height:50px;
       width:200px;
    border-color: rgb(44, 16, 34);
    }
    #dis textarea:hover{
        border-color:rgb(223, 12, 12);
        background:linear-gradient( rgb(248, 250, 139),rgb(241, 156, 193));


    }
    .j{
        font-size:20px;
        color:white;
    }
    .ids ul{
        display:flex;
        list-style-type: none;
        color:rgb(245, 240, 240)
    }
    .ids li{
        padding-right: 100px;
    }
    
    @media screen and (min-width:800) and (max-width:900){
   .tag2{

    padding-left:0px;
    margin-left: 0px;
    display:none;
   }
        .tag2 img{
         display:none;
   }
    }

